<div class="container">

  <h4><span class="py-2 px-4 bg-light">マイページ</span></h4>

  <div class="row mt-5 mb-2">
    <div class="col-md-2" style="margin: auto 0;">
      <h5 class="font-weight-bold text-center" style="margin: auto 0;">登録情報</h5>
    </div>
    <div class="col-md-2">
      <%= link_to "編集する", edit_information_path, class: "btn btn-success" %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-7">
      <table class="table table-bordered" style="border: 1px;">
        <tr>
          <td width="25%" class="bg-light">氏名</td>
          <td width="75%"><%= @customer.last_name %>　<%= @customer.first_name %></td>
        </tr>
        <tr>
          <td class="bg-light">カナ</td>
          <td><%= @customer.last_kana_name %>　<%= @customer.first_kana_name %></td>
        </tr>
        <tr>
          <td class="bg-light">郵便番号</td>
          <td><%= @customer.post_code %></td>
        </tr>
        <tr>
          <td class="bg-light">住所</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td class="bg-light">電話番号</td>
          <td><%= @customer.phone_number %></td>
        </tr>
        <tr>
          <td class="bg-light">メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-2" style="margin: auto 0;">
      <h5 class="font-weight-bold" style="margin: auto 0;">配送先</h5>
    </div>
    <div class="col-md-2">
      <%= link_to "一覧を見る", deliveries_path, class: "btn btn-primary" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2" style="margin: auto 0;">
      <h5 class="font-weight-bold" style="margin: auto 0;">注文履歴</h5>
    </div>
      <div class="col-md-2">
        <%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %>
      </div>
  </div>
</div>