<div class="container">
  <div class="row">
    <div class="col-md-2 offset-md-1 mb-5">
      <h3 class="text-center bg-light">マイページ</h3>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-2" style="margin: auto 0;">
      <h5 class="font-weight-bold text-center" style="margin: auto 0;">登録情報</h5>
    </div>
    <div class="col-md-2">
      <%= link_to "編集する", edit_information_path, class: "btn btn-success" %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-7">
      <table class="table table-bordered" style="border: 1px;">
        <tr>
          <th width="25%" class="bg-light">氏名</th>
          <th width="75%"><%= @customer.last_name %>　<%= @customer.first_name %></th>
        </tr>
        <tr>
          <th class="bg-light">カナ</th>
          <th><%= @customer.last_kana_name %>　<%= @customer.first_kana_name %></th>
        </tr>
        <tr>
          <th class="bg-light">郵便番号</th>
          <th><%= @customer.post_code %></th>
        </tr>
        <tr>
          <th class="bg-light">住所</th>
          <th><%= @customer.address %></th>
        </tr>
        <tr>
          <th class="bg-light">電話番号</th>
          <th><%= @customer.phone_number %></th>
        </tr>
        <tr>
          <th class="bg-light">メールアドレス</th>
          <th><%= @customer.email %></th>
        </tr>
      </table>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-2" style="margin: auto 0;">
      <h5 class="font-weight-bold" style="margin: auto 0;">配送先</h5>
    </div>
    <div class="col-md-2">
      <%= link_to "一覧を見る", deliveries_path, class: "btn btn-primary" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2" style="margin: auto 0;">
      <h5 class="font-weight-bold" style="margin: auto 0;">注文履歴</h5>
    </div>
      <div class="col-md-2">
        <%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %>
      </div>
  </div>
</div>