<div class="container">
  <h3 class="px-3 mb-5" style="width: fit-content; background-color: #e6e6e6;">商品編集</h3>
  <%= render 'layouts/errors', obj: @item %>
  <div class="row">
    <div class="col-3 ml-auto">
      <div class="mb-2" style="height: 30px;">商品画像</div>
      <div class="mb-2" style="height: 30px;">商品名</div>
      <div class="mb-2" style="height: 100px;">商品説明</div>
      <div class="mb-2" style="height: 30px;">ジャンル</div>
      <div class="mb-2" style="height: 30px;">税抜価格</div>
      <div class="mb-2" style="height: 30px;">販売ステータス</div>
    </div>
    <div class="col-8">
      <%= form_with model: [:admin, @item] do |f| %>
        <div class="mb-2"><%= f.file_field :image, accept: "image/*" %></div>
        <div class="mb-2"><%= f.text_field :name, placeholder:"商品名", style: "width: 50%;" %></div>
        <div class="mb-2"><%= f.text_area :explanation, placeholder:"ここに説明文を記述します", style: "width: 50%; height: 100px;" %></div>
        <div class="mb-2"><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択してください--" %></div>
        <div class="mb-2"><%= f.text_field :without_tax, :size=>"40", placeholder:"1000", style: "width: 50%;" %></div>
        <div class="mb-2">
          <%= f.radio_button :is_active, :true %>
          <%= f.label :item, "販売中", {value: :true, style: "display: inline-block;"} %>
          <%= f.radio_button :is_active, :false %>
          <%= f.label :item, "販売停止中", {value: :false, style: "display: inline-block;"} %>
        </div>
        <%= f.submit "変更を保存", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>