<div class="container">
  <div class="row">
    <h4><span class="py-2 px-4 bg-light">商品一覧</span></h4>
    <div class="ml-auto mr-3">
      <%= link_to "+", new_admin_item_path, class: "btn btn-outline-secondary rounded-circle shadow" %>
    </div>
  </div>
  <table class="table table-hover mt-4">
    <thead style= "width: fit-content; background-color: #efefef;">
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody class="table table-borderless">
      <% @items.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td style="text-decoration: underline;">
            <%= link_to admin_item_path(item.id), class: "text-dark" do %>
              <%= item.name %>
            <% end %>
          </td>
          <td><%= item.without_tax.to_s(:delimited) %></td>
          <td><%= item.genre.name %></td>
          <td>
            <% if item.is_active == true %>
              <span class="text-success font-weight-bold">販売中</span>
            <% else %>
              <span class="text-secondary font-weight-bold">販売停止中</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
    <%= paginate @items %>
</div>
