<div class="container">
  <h3 class="px-3" style= "width: fit-content; background-color: #e6e6e6;">商品新規登録</h3>
  <table>
    <tbody>
      <%= form_with model: [:admin, @item] do |f| %>
        <tr>
          <td><span class="mr-5">商品画像</span></td>
          <td><%= f.file_field :image, accept: "image/*" %></td>
        </tr>
        <tr>
          <td><span class="mr-5">商品名</span></td>
          <td><%= f.text_field :name, placeholder:"商品名" %></td>
        </tr>
        <tr>
          <td><span class="mr-5">商品説明</span></td>
          <td><%= f.text_area :explanation, placeholder:"ここに説明" %></td>
        </tr>
        <tr>
          <td><span class="mr-5">ジャンル</span></td>
          <td>
            <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択してください--" %>
          </td>
        </tr>
        <tr>
          <td><span class="mr-5">税抜価格</span></td>
          <td><%= f.text_field :explanation, placeholder:"1000" %></td>
        </tr>
        <tr>
          <td><span class="mr-5">販売ステータス</span></td>
          <td>
            <%= f.radio_button :is_active, :true %>
            <%= f.label :item, "販売中", {value: :true, style: "display: inline-block;"} %>
            <%= f.radio_button :is_active, :false %>
            <%= f.label :item, "販売停止中", {value: :false, style: "display: inline-block;"} %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "新規登録", class: "btn btn-success" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>