<div class="container">
  <h3 class="px-3" style="width: fit-content; background-color: #e6e6e6;">商品詳細</h3>
  <div class="row">
    <div class="col-3">
      <%#= image_tag @item.get_image(100,100) %>
    </div>
    <div class="col-9">
      <table>
        <tbody>
          <tr>
            <td><span class="mr-5">商品名</span></td>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <td><span class="mr-5">商品説明</span></td>
            <td><%= @item.explanation %></td>
          </tr>
          <tr>
            <td><span class="mr-5">ジャンル</span></td>
            <td><%= @item.genre_id %></td>
          </tr>
          <tr>
            <td><span class="mr-5">税込価格(税抜価格)</span></td>
            <td><%= @item.price.round(0).to_s(:delimited) %> (<%= @item.without_tax.to_s(:delimited) %>) 円</td>
          </tr>
          <tr>
            <td><span class="mr-5">販売ステータス</span></td>
            <td>
              <% if @item.is_active == true %>
                  <span class="text-success font-weight-bold">販売中</span>
                <% else %>
                  <span class="text-secondary font-weight-bold">販売停止中</span>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <td><%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-success" %></td>
    </div>
  </div>
</div>