<div class="container">
  <div class="row">
    <div class="col-2">
      <%= render 'genre_list', genres: @genres %>
    </div>

    <div class="col-10">
      <div class="jumbotron" style="margin-bottom: 5px; margin-right: 200px;">
          <h5 class="p-5" id="top_icon">
          ようこそ、ながのCAKEへ！</br>
          このサイトは、ケーキ販売のECサイトになります。</br>
          会員でない方も商品の閲覧はできますが、</br>
          購入には会員登録が必要になります。
        </h5>
      </div>
      <h3 id="new_item_logo">新着商品</h3>
      <div class="d-flex item-link">
          <% @items.first(4).each do |item| %>
            <%= link_to item do %>
              <div class="m-1 p-1">
                <div style="height: 145px; padding: 2px;"><%= image_tag item.get_image(200,150) %></div>
                <div><%= item.name %></div>
                <div>¥<%= item.with_tax_price.to_s(:delimited) %></div>
              </div>
            <% end %>
          <% end %>
      </div>
      <div class="text-right mr-5">
        <%= link_to '全ての商品を見る>', items_path %>
      </div>
    </div>
  </div>
</div>