<div class="container">
  <div class="row">
    <div class="col-md-4 offset-col-md-2">
      <h1>配送先登録/一覧</h1>
    </div>
    <table class="table table-borderless">
      <%= form_with model: @delivery, url: deliveries_path, method: :post do |f| %>
      <tr>
        <th>郵便番号(ハイフンなし)</th>
        <th><%= f.text_field :post_code, placeholder: "0000000" %></th>
        <th></th>
      </tr>
      <tr>
        <th>住所</th>
        <th colspan="2"><%= f.text_field :address, size: "45x30" %></th>
      </tr>
      <tr>
        <th>宛名</th>
        <th><%= f.text_field :name %></th>
        <th></th>
        <th><%= f.submit "新規登録" %></th>
      </tr>
      <% end %>
    </table>

<% @deliveries.each do |delivery| %>
<p>郵便番号</p>
  <%= delivery.post_code %>
<p>住所</p>
  <%= delivery.address %>
<p>宛名</p>
  <%= delivery.name %>
<% end %>