<div class="container">

  <h4><span class="py-2 px-4 bg-light">配送先登録/一覧</span></h4>

  <div class="row mt-5">
    <%= render 'layouts/errors', obj: @delivery %>
  </div>
  <div class="row mb-5">
    <div class="col-md-10">
      <%= form_with model: @delivery, url: deliveries_path, method: :post do |f| %>
        <table class="table table-borderless mx-left">
          <tr>
            <td class="align-middle" width="25%">郵便番号(ハイフンなし)</td>
            <td width="50%"><%= f.text_field :post_code, placeholder: "0000000", style: "border-radius:8px; width: 50%;", class: "form-control" %></td>
            <td width="15%"></td>
            <td width="10%"></td>
          </tr>
          <tr>
            <td class="align-middle">住所</td>
            <td colspan="2"><%= f.text_field :address, size: "x30",  placeholder: "東京都渋谷区代々木神園町0-0", style: "border-radius:8px;", class: "form-control" %></td>
          </tr>
          <tr>
            <td>宛名</td>
            <td><%= f.text_field :name, placeholder: "令和道子", style: "border-radius:8px; width: 50%;", class: "form-control" %></td>
            <td></td>
            <td><%= f.submit "新規登録", class: "btn btn-success btn-block", style: "width: 100%" %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <table class="table table-bordered">
        <thead class="bg-light">
          <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="text-left">
          <% @deliveries.each do |delivery| %>
          <tr>
            <td class="align-middle" width="15%"><%= delivery.post_code %></td>
            <td class="align-middle" width="40%"><%= delivery.address %></td>
            <td class="align-middle" width="15%"><%= delivery.name %></td>
            <td class="text-center" width="30%">
              <%= link_to "編集する", edit_delivery_path(delivery), class: "btn btn-success btn-sm" %>
              <%= link_to "削除する", delivery_path(delivery), method: :delete, class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>