<div class="container">
  <h3 class="px-3 mb-5" style="width: fit-content; background-color: #e6e6e6;">
    <%= @customer.last_name %><%= @customer.first_name %>さんの注文履歴
  </h3>
  <table class="table mt-4">
    <thead class="bg-light">
      <tr>
        <th>購入日時</th>
        <th>注文個数</th>
        <th>注文ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
      <tr>
        <td style="text-decoration: underline;">
          <%= link_to admin_order_path(order), class: "text-dark" do %>
            <%= order.created_at.strftime('%Y/%m/%d/%H:%M') %>
          <% end %>
        </td>
        <td><%#= order.order_items.amount.count %></td>
        <td><%= order.order_status_i18n %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @orders %>
</div>