<div class="container">
  <div class="row justify-content-center mb-3">
    <div class="col-9">
      <h4><span class="py-2 px-4 bg-light">ショッピングカート</span></h4>
    </div>
    <div class="col-2">
      <%= link_to "カートを空にする", destroy_all_path, method: :delete, class: "btn btn-danger" %>
    </div>
  </div>

<div class="col-11 mx-auto">
  <% if @cart.blank? %>
    <h5 class="text-danger" style="margin: 40px;">カートの中身は空です</h5>
  <% else %>
    <table class="table table-bordered">
      <thead>
        <tr class="table-secondary">
          <th style="width: 40%;">商品名</th>
          <th style="width: 15%;">単価(税込)</th>
          <th style="width: 16%;">数量</th>
          <th>小計</th>
          <th style="width: 15%;"></th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td class="align-middle"><span class="mr-3"><%= image_tag cart_item.item.get_image(50, 50) %></span><%= cart_item.item.name %></td>
            <td class="align-middle"><%= cart_item.item.with_tax_price.to_s(:delimited) %></td>
            <td class="form-inline">
              <%= form_with model: @cart_item, url: cart_item_path(cart_item.id), method: :patch  do |f| %>
                <%= f.select :amount, *[1..10], {selected: cart_item.amount}, class: "form-control" %>
                <%= f.submit "変更", class: "btn btn-success" %>
              <% end %>
              </td>
            <td class="align-middle"><%= cart_item.subtotal.to_s(:delimited) %></td>
            <td class="text-center align-middle"><%= link_to "削除する", cart_item_path(cart_item.item_id), method: :delete, class: "btn btn-danger" %></td>
          </tr>
          <% @total_price += cart_item.subtotal %>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <div class="row mx-auto d-flex align-items-center">
    <div class="col-9">
      <%= link_to '買い物を続ける', root_path, class: "btn btn-primary" %>
    </div>

    <table class="col-3 float-right border border-dark" style="height: 60px;">
      <tr>
        <th class="p-1 table-secondary border border-dark">合計金額</th>
        <td class="p-1" style="width: 50%;"><%= @total_price.to_s(:delimited) %></td>
      </tr>
    </table>
  </div>

</div>

  <div class="text-center">
    <% unless @cart.blank? %>
      <%= link_to '情報入力に進む', new_order_path, class: "mt-5 btn btn-success btn-lg" %>
    <% end %>
  </div>

</div>