<div class="container">
  <div class="row">
    <div class="col-md-5 offset-md-2">
      <h3>新規会員登録</h3>
    </div>
  </div>
  <div class="row">
    <%= form_with model: @customer, url: customer_registration_path do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
      <table class="table table-borderless">
        <tr width="100%">
          <th width="34%"><span>名前</span></th>
          <th width="10%">(姓)</th>
          <th width="23%"><%= f.text_field :last_name, :placeholder => "令和" %></th>
          <th width="10%">(名)</th>
          <th width="23%"><%= f.text_field :first_name, :placeholder => "道子" %></th>
        </tr>

        <tr>
          <th><span>フリガナ</span></th>
          <th>(セイ)</th>
          <th><%= f.text_field :last_kana_name,:placeholder => "レイワ" %></th>
          <th>(メイ)</th>
          <th><%= f.text_field :first_kana_name, :placeholder => "ミチコ" %></th>
        </tr>

        <tr>
          <th><span>メールアドレス</span></th>
          <th></th>
          <th><%= f.email_field :email, autocomplete: "email", :placeholder => "sample@example.com" %></th>
          <th></th>
          <th></th>
        </tr>

        <tr>
          <th><span>郵便番号(ハイフンなし)</span></th>
          <th></th>
          <th><%= f.text_field :post_code, :placeholder => "0000000" %></th>
          <th></th>
          <th></th>
        </tr>

        <tr>
          <th><span>住所</span></th>
          <th></th>
          <th colspan="3"><%= f.text_field :address, :placeholder => "東京都渋谷区代々木神園町0-0" %></th>
        </tr>

        <tr>
          <th>電話番号(ハイフンなし)</th>
          <th></th>
          <th><%= f.text_field :phone_number, :placeholder => "0000000000" %></th>
          <th></th>
          <th></th>
        </tr>

        <tr>
          <th><span>パスワード(6文字以上)</span></th>
          <th></th>
          <th><%= f.password_field :password, autocomplete: "new-password" %></th>
          <th></th>
          <th></th>
        </tr>

        <tr>
          <th><span>パスワード(確認用)</span></th>
          <th></th>
          <th><%= f.password_field :password_confirmation, autocomplete: "new-password" %></th>
          <th></th>
          <th></th>
        </tr>

        <tr>
          <th></th>
          <th></th>
          <th><%= f.submit "新規登録", class: "btn btn-success btn-block" %></th>
          <th></th>
          <th></th>
        </tr>
      </table>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-5 offset-md-2">
      <h3>既に登録済みの方</h3>
      <%= link_to "こちら", new_session_path(resource_name) %> からログインしてください。
    </div>
  </div>
</div>

