<h3>注文情報入力</h3>

<p>支払方法</p>
<%= form_with model: @order do |f| %>
  <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
  <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>

  <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
  <%= f.label :payment_method, Order.payment_methods_i18n[:transfer]%>
<% end %>

<p>お届け先</p>
<%= form_with model: @order do |f| %>
  <%= f.select :address_id, options_from_collection_for_select(Delivery.all, :id, :address_display) %>
<% end %>
